* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c7d2f1;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}

input[type='text'] {
  font: inherit;
  padding: 4px;
  padding-left: 10px;
  width: 320px;

  outline-width: 0;
  border: none;
  border-radius: 6px 0 0 6px;
}

#search-form {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 1px 2px 5px rgb(95, 95, 95);

  background-color: #314588;
}

#search-form.page-is-scrolled {
  opacity: 0.8;
}

.search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: 2px solid transparent;
}

.search-panel:hover,
.search-panel:focus {
  outline: 2px solid #7aaddd;
}

button[type='submit'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 62px;
}

.photo-card {
  flex-basis: calc((100% - 20px * 3) / 4);
  border-radius: 0 0 5px 5px;
  background-color: #fff9dc;
}

.thumb {
  min-width: 350px;
  height: 250px;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 3px 3px rgb(134, 134, 134);
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
